<h1>Productos</h1>

{{#if user}}
<p>Bienvenido {{user.role}}, {{user.firstName}} {{user.lastName}} ({{user.email}})</p>
{{/if}}

{{#if isAdmin}}
<h2>Agregar producto</h2>
<form action="/api/products" method="post">
  <label for="title">Titulo:</label>
  <input type="text" id="title" name="title" required><br>

  <label for="description">Descripcion:</label>
  <textarea id="description" name="description" required></textarea><br>

  <label for="code">Codigo:</label>
  <input type="text" id="code" name="code" required><br>

  <label for="price">Precio:</label>
  <input type="number" id="price" name="price" required><br>

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock" required><br>

  <button type="submit">Agregar Producto</button>
</form>
{{/if}}


<table id="product-list" role="grid">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoria</th>
      <th>Disponibilidad</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    {{#each products.payload}}
    <!--Datos de los productos-->
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>${{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
      <td>{{#if this.availability}}Disponible{{else}}Agotado{{/if}}</td>

      {{#if ../isAdmin}}
      <td>
          <button type="submit">Eliminar Producto</button>
          <!--Debo agregar logica para eliminar, no puedo desde handlebars-->
      </td>
      {{/if}}

      {{#if ../isUser}}
      <td>
        <form action="/api/carts/{{../user.cartID}}/products/{{this._id}}" method="post">
          <input type="hidden" name="quantity" value="1">
          <button type="submit">Agregar al carrito</button>
        </form>
      </td>
      {{/if}}

    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/api/carts/{{user.cartID}}" role="button">Ver carrito</a>

<hr>

<p>Pagina actual: {{products.page}}</p>
<a href="{{products.prevLink}}" role="button" {{#unless products.hasPrevPage}}disabled{{/unless}}>Anterior</a>
<a href="{{products.nextLink}}" role="button" {{#unless products.hasNextPage}}disabled{{/unless}}>Siguiente</a>

<hr>

<footer>
  <a href="/api/sessions/logout" role="button">Cerrar sesion</a>
</footer>